.header {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    display: flex;
    padding: 100px;
}

.header_links {
    font-size: 18px;
    color: #F9FAF8;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    padding: 10px;
    list-style-type: none;
    align-items: end;
    justify-content: end;
    margin-left: auto;
    padding-right: 80px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #F9FAF8;
}

li {
    text-decoration: none;
    margin-right: 16px;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    background-color: #1F2937;
}
.main_content {
    display: flex;
    flex-direction: column; 
}
.main_text {
    display: flex;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary_text {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

.sign_up {
    display: flex;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 6px;
    width: 70px;
    height: auto;
    border-style: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex: 0;
}

.sign_up2 {
    display: flex;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 6px;
    width: 70px;
    height: auto;
    border-style: solid;
    cursor: pointer;
    justify-content: end;
    margin-left: auto;
    flex: 0;
}

.footer {
    display: flex;
    border-radius: 5px;
    padding: 6px;
    width: auto;
    height: auto;
    padding: 50px;
    margin: 100px;
    background-color: #5a8dd4;
}
.footer_content {
    display: flex;
    flex-direction: column;
}
.footer_text1 {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: bold;
    flex-direction: column;
}

.footer_text2 {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #E5E7EB;
}

.spacer {
    height: 20px;
}